aniso8601==9.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
bs4==0.0.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
Flask-HTTPAuth==4.8.0
Flask-RESTful==0.3.10
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
packaging==24.2
price-parser==0.4.0
psycopg2-binary==2.9.10
Pygments==2.18.0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
rich==13.9.4
shellingham==1.5.4
six==1.16.0
soupsieve==2.7
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.4.0
uuid==1.30
Werkzeug==3.1.3
